/* 폰트 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



html>body {
	font-family: 'Pretendard-Regular';
}

/* 테마 */
.btn-theme-toggle>span:first-child {
	display: none;
}

html[data-theme="dark"] .btn-theme-toggle>span:first-child {
	display: inline;
}

html[data-theme="dark"] .btn-theme-toggle>span:last-child {
	display: none;
}

/* 커스텀 */
header>div>ul>li {
	margin-right: 30px;
}

.table-box-1 th, .table-box-1 td {
	border: 1px solid black;
	padding: 9px;
	text-align: center;
}

/* 기본 네비게이션 2차 메뉴 스타일 */
header>div>ul>li>ul {
    display: none;
    position: absolute;
    background-color: white;
	z-index: 1;
}

/* 밝은 테마에서의 네비게이션 2차 메뉴 배경색 */
html[data-theme='autumn'] header>div>ul>li>ul {
    background-color: white; /* 또는 밝은 테마에 적합한 다른 색상 */
}

/* 어두운 테마에서의 네비게이션 2차 메뉴 배경색 */
html[data-theme='dark'] header>div>ul>li>ul {
    background-color: #333333; /* 또는 어두운 테마에 적합한 다른 색상 */
}

/* 네비게이션 2차 메뉴 호버 스타일 */
header>div>ul>li:hover>ul {
    display: block;
}

/* 대쉬보드 메뉴바 */
.side_bar {
	width: 100px;
	height: 100%;
	overflow:auto;
	position: fixed;
	border-right: thin solid gold; /* 	색깔 임시로 */

}

.side_menu > ul > li > a{
	display: block;
	padding: 10px;
/* 	background-color: skyblue; */
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	color: black;
}

.side_bar_push{
	margin-left: 100px;
}





