@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
   font-family: 'TAEBAEKfont';
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
