/* 폰트 */
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html>body {
	font-family: 'Orbit-Regular';
}

/* 라이브러리 */

/* 커스텀 */
header>div>ul>li {
	margin-right: 30px;
}

.table-box-1 th, .table-box-1 td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

